.center-burger-modal {
    width: 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.data-modal {
    text-align: center;
}

.data-modal-flex {
    display: flex;
}

.main-ingrid-details {
    justify-content: space-around;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}